extends bodyContent

block content
    .container-fluid
        .page-header.text-center
            h1
                span.fa.fa-anchor.profileStyle
                span Profile page
            a(href='/logout').btn.btn-default.btn-sm Log out
        .row
            .col-sm-6
                .well
                    table
                        tbody
                            if(user.local.email)
                                tr
                                    td
                                        span.profileDataName Email: 
                                    td
                                        span.profileDataValue #{user.local.email}
                            tr
                                td
                                    span.profileDataName Username: 
                                td
                                    span.profileDataValue#usernameSpan #{user.general.username}
                                    a#editUsernameBtn Edit
                                    form.input-group#editUsername(action='/edit/username', method='post')
                                        input.profileUsernameBox.form-control(type='text', placeholder='new username', name='username')
                                        .input-group-btn
                                            button.btn#editUsernameSaveBtn(disable) Save change
                            tr
                                td
                                    span.profileDataName Account created:   
                                td
                                    span.profileDataValue #{user.general.created}

            .col-sm-6
                .well(class=profile-facebook)
                    h3.text-primary
                        span.fa.fa-facebook.profileStyle
                        span Facebook account
                    if(user.facebook.token)
                        p.profileDataSection
                            span.profileDataName Email: 
                            span.profileDataValue #{user.facebook.email}
                            br
                            span.profileDataName Name: 
                            span.profileDataValue #{user.facebook.name}
                        a(href='/unlink/facebook').btn.btn-default Unlink Facebook account
                    else
                        a(href='/connect/facebook').btn.btn-default Connect Facebook account

        .row
            .col-sm-6
                .well
                    h3.text-info
                        span.fa.fa-twitter.profileStyle
                        span Twitter account
                    if(user.twitter.token)
                        p.profileDataSection
                            span.profileDataName Username: 
                            span.profileDataValue #{user.twitter.username}
                            br
                            span.profileDataName Display Name: 
                            span.profileDataValue #{user.twitter.displayName}
                        a(href='/unlink/twitter').btn.btn-default Unlink Twitter account
                    else
                        a(href='/connect/twitter').btn.btn-default Connect Twitter account

            .col-sm-6
                .well
                    h3.text-danger
                        span.fa.fa-google-plus.profileStyle
                        span Google account
                    if(user.google.token)
                        p.profileDataSection
                            span.profileDataName Email: 
                            span.profileDataValue #{user.google.email}
                            br
                            span.profileDataName Name: 
                            span.profileDataValue #{user.google.name}
                        a(href='/unlink/google').btn.btn-default Unlink Google account
                    else
                        a(href='/connect/google').btn.btn-default Connect Google account


append bodyscripts
    script(src='/javascripts/profile.js')